#newlabel{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:slategrey;
    text-shadow: 1px 1px; }
#newText{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

#age-show{
    color: red;
    font-weight: bold;
    font-size: 25px;
}
